<table class="ux-table" ng-class="cfg.tableClass">
    <thead>
        <tr>
            <th class="ux-table-selection">
                <input type="checkbox" ux-table-selection content="content" selection="state.selection" selection-key="cfg.selectionKey">
            </th>
            <th
                ng-repeat="column in columns | filter : { show: true }"
                ng-click="setSorting(column.key)"
                ng-class="{ 'sort': column.sort !== false, 'sort-asc': state.orderBy.key === column.key && state.orderBy.asc === true, 'sort-desc': state.orderBy.key=== column.key && state.orderBy.asc === false }">
                    <span ng-if="column.i18n">{{ column.i18n | translate }}</span>
                    <span ng-if="!column.i18n">{{ column.name }}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in content" ng-init="$rowIndex = state.page * state.pageSize + $index + 1; $rowClass = cfg.rowClick(row, idx);" ng-click="cfg.rowClick(row, $rowIndex, $event)" ng-class="$rowClass">
            <td class="ux-table-selection"><input type="checkbox" checklist-model="state.selection" checklist-value="row[cfg.selectionKey]"></td>
            <td ng-repeat="column in columns | filter : { show: true }" ux-table-cell data-label="{{ column.i18n ? (column.i18n | translate) : column.name }}" data-empty="{{ !row[column.key] }}">{{ row[column.key] }}</td>
        </tr>
    </tbody>
</table>