<table ng-class="conf.view.ngClass">
	<thead>
		<tr>
			<th ng-if="conf.view.selection" class="ux-table-selection"><input type="checkbox" ux-table-selection api="" data="data" selection="conf.selection" selection-key="conf.view.selectionKey"></th>
			<th
				ng-repeat="column in conf.columns | filter : { show: true }"
				ng-click="sortBy(column.key)"
                ng-class="{ 'sort': column.sort !== false, 'sort-asc': conf.orderBy.key === column.key && conf.orderBy.asc === true, 'sort-desc': conf.orderBy.key=== column.key && conf.orderBy.asc === false }">
				{{ column.name }}</th>
		</tr>
	</thead>
	<tbody>
        <tr ng-if="!data.length">
            <td colspan="{{ 1 + (conf.columns | filter : { show: true }).length }}" class="ux-table-empty">- - -</td>
        <tr/>
		<tr ng-repeat="row in data" ng-click="rowClick(row, $index, $event)" ng-class="{ active: conf.active === $index }">
			<td ng-if="conf.view.selection" class="ux-table-selection"><input type="checkbox" checklist-model="conf.selection" checklist-value="row[conf.view.selectionKey]" class="ux-table-selection-input"></td>
			<td ng-repeat="column in conf.columns | filter : { show: true }" ux-table-cell>{{ row[column.key] }}</td>
		</tr>
	</tbody>
</table>